<%= form_for(task) do |form| %>
	<div>
	<%= form.label :user_id, '使用者ID' %>
	<%= form.text_field :user_id %>
	</div>

	<div>
	<%= form.label :title, '任務名稱' %>
	<%= form.text_field :title %>
	</div>

	<div>
	<%= form.label :content, '任務內容' %>
	<%= form.text_area :content %>
	</div>

    <div>
	<%= form.label :priority, '優先權' %>
	<%= form.text_field :priority %>
	</div>

	<%= form.submit %>


<% end %>