<%= form_for(task) do |form| %>
	<div>
	<%= form.label :user_id, t('task.holder') %>
	<%= form.text_field :user_id %>
	</div>

	<div>
	<%= form.label :title, t('task.title') %>
	<%= form.text_field :title %>
	</div>

	<div>
	<%= form.label :content, t('task.content') %>
	<%= form.text_area :content %>
	</div>

    <div>
	<%= form.label :priority, t('task.priority') %>
	<%= form.text_field :priority %>
	</div>

	<%= form.submit %>


<% end %>