<h1><%= t('task.list') %></h1>
<%= link_to t('task.new'), new_task_path %>

<table>
  <thead>
    <tr>
      <td><%= t('task.holder') %></td>
      <td><%= t('task.title') %></td>
      <td><%= t('task.content') %></td>
      <td><%= t('task.priority') %></td>
      <td><%= t('task.time') %></td>
      <td><%= t('task.option') %></td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.user_id %></td>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.priority %></td>
      <td><%= task.created_at %></td>
      <td>
        <%= link_to t("task.edit"), edit_task_path(task) %>
        <%= link_to t("task.destroy"), task_path(task), method: "delete", data: { confirm: t("task.alert") } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


      <% if I18n.locale.to_s == "en" %>
        <%= link_to('中文', :locale => 'zh-TW') %>
       <% else %>
        <%= link_to('English', :locale => 'en') %>
       <% end %>