<h1>新增使用者</h1>

<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  <% end %>
  </ul>
<% end %>


<%= form_for(User.new) do |form| %>

	<div>
	<%= form.label :name, '姓名' %>
	<%= form.text_field :name %>
	</div>

	<div>
	<%= form.label :email, 'email' %>
	<%= form.text_field :email %>
	</div>

<input type="submit" value="新增">

<% end %>

<%= link_to "回使用者列表", users_path %>