<h1>標籤列表</h1>

<%= link_to "新增標籤", new_tag_path %>

<table>
  <thead>
    <tr>
      <td>目前擁有的標籤：</td>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
    <tr>
      <td><%= tag.label %></td>
      <td>
        <%= link_to "編輯", edit_tag_path(tag) %>
        <%= link_to "刪除", tag_path(tag), method: "delete", data: { confirm: "確認刪除?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "回任務列表", tasks_path %>